* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "open-sans", sans-serif;
    background-color: #040404;
    color: #ffff;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    overflow: hidden;
    background: url("../img/background.png") top center no-repeat;
    background-size: cover;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100vh;
    z-index: -1;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

#header {
    transition: ease-in-out 0.4s;
    position: relative;
    height: 100vh;
    min-width: 490px;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: visible;
}

#header * {
    transition: ease-in-out 0.4s;
}

#header .container {
    width: 962px;
    height: 549px;
    margin: 0px;
    margin-left: 100px;
    background-color: rgba(153, 238, 255, 0.0);
    overflow: visible;
}

#header .container h1 {
    width: auto;
    height: auto;
    overflow: visible;
    white-space: pre;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #FFFF;
    line-height: 1.2;
    letter-spacing: 0px;
    font-size: 64px;
    display: inline-block;
}

#header .container span {
    display: block;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    font-weight: 50;
    max-width: 600px;
    margin-top: 20px;
}

#header .container .navbar {
    padding: 0;
    margin-top: 25px;
}

#header .container .navbar a {
    list-style-type: none;
}

#header .container .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

#header .container .navbar li {
    position: relative;
}

#header .container .navbar a {
    text-decoration: none;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    margin-right: 50px;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 1.2;
}

#header .container .navbar a:hover {
    color: rgba(255, 255, 255, 0.6);
}

#header.header-top {
    padding: 11px;
    width: 100vw;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
}

#header.header-top h1 {
    display: none;
    margin-right: auto;
    font-size: 30px;
}

#header.header-top span {
    display: none;
}

#header.header-top .container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
    justify-content: center;
    margin: 0;
    padding: 0;
    left: 290px;
}

#header.header-top .navbar {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#header.header-top .navbar ul {
    padding: 0;
}

@media screen and (max-width: 960px) {
    #header.header-top {
        height: 80px;
    }
    #header.header-top .container {
        left: 130px;
    }
}

.social-media {
    position: fixed;
    padding: 0;
    top: 350px;
    right: 0;
    margin-right: 4px;
    z-index: 9999;
}

.social-media .media {
    padding: 0px;
    margin: 0;
    display: block;
}

.social-media .media .svg-style {
    background-color: rgba(255, 255, 255, 0.7);
    display: table;
    padding: 7px;
    border-radius: 100%;
    margin: 20px;
}

.social-media .media .media-icons {
    margin: 10px;
    list-style: none;
}

.social-media .media .media-icons:hover {
    margin: 5px;
    transition: all .1s ease-in-out;
}

.social-media .media .svg-style .icon-img {
    width: 18px;
    height: 18px;
    display: table-cell;
    justify-self: center;
    margin: auto;
}

@media screen and (max-width: 700px) {
    .social-media {
        display: flex;
        top: 590px;
        left: 0;
        width: 275px;
        margin-right: 0;
    }
    .social-media .media {
        display: flex;
        margin: 0;
        padding: 0;
    }
}

.about {
    position: fixed;
    height: 100vh;
    margin-top: 80px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 1em rgb(255 255 255 / 30%);
}

.about .modal-container {
    display: flex;
    width: 100vw;
    height: 100%;
    overflow: visible;
    overflow-y: auto;
    z-index: 2900;
    justify-content: center;
    align-items: center;
}

.about .modal-container .modal {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    width: 80vw;
    height: 80vh;
    top: 60px;
    left: 200px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 1em #121212;
    position: absolute;
}

.about .modal-container.mostrar .modal {
    transition: ease-in-out 0.4s;
}

.about .modal-container .modal .profile {
    position: relative;
    height: 100%;
    width: 270px;
}

.about .modal-container .modal .profile .img-profile {
    width: 235px;
    height: 430px;
    margin: 18px;
    border-radius: 15px;
}

.about .modal-container .modal .profile .btn-resume {
    display: block;
    margin: 18px;
    width: 235px;
    height: 40px;
    padding: 0;
    border-radius: 90px;
    color: white;
    background-color: rgba(255, 255, 255, 0.384);
}

.about .modal-container .modal .profile .btn-resume:hover {
    background-color: rgba(199, 199, 199, 0.6);
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.7);
}

.about .modal-container .modal .description {
    height: 200px;
    width: 80%;
    color: rgb(255 255 255);
    margin-top: 20px;
    margin-left: 20px;
}

.about .modal-container .modal .description p {
    margin-top: 40px;
}

.about .modal-container .modal .skills-container {
    display: flex;
    position: absolute;
    top: 31%;
    left: 300px;
    width: 80vh;
    height: auto;
    margin: 0 20px;
}

.about .modal-container .modal .skills-container table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: rgb(255 255 255);
}

.about .modal-container .modal .skills-container table th, td {
    text-align: left;
    padding: 8px;
}

@media screen and (max-width: 960px) {
    /* .about {
        top: 60px;
        margin-top: 0;
    }
    .about .modal-container {
        height: 77%;
    } */
    .about .modal-container .modal {
        top: 70px;
        left: 30px;
        width: 86vw;
    }
}

.about .modal-container .modal .profile {
    position: absolute;
    width: 26vw;
    height: 74vh;
}

.about .modal-container .modal .description {
    position: absolute;
    left: 281px;
    width: 47vw;
}

.about .modal-container .modal .skills-container {
    width: 42vh;
}

.about .modal-container .modal .skills-container .skills {
    width: 47vw;
}