* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "open-sans", sans-serif;
    background-color: #040404;
    color: #ffff;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    overflow: hidden;
    background: url("../img/background.png") top center no-repeat;
    background-size: cover;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100vh;
    z-index: -1;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

#header {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: visible;
}

#header .container {
    width: 962px;
    height: 549px;
    margin: 0px;
    margin-left: 100px;
    background-color: rgba(153, 238, 255, 0.0);
    overflow: visible;
}

#header .container * {
    transition: ease-in-out 0.3s;
}

#header .container h1 {
    width: auto;
    height: auto;
    overflow: visible;
    white-space: pre;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #FFFF;
    line-height: 1.2;
    letter-spacing: 0px;
    font-size: 64px;
    display: inline-block;
}

#header .container span {
    display: block;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    font-weight: 50;
    max-width: 600px;
    margin-top: 20px;
}

#header .container .navbar {
    margin-top: 25px;
}

#header .container .navbar a, ul {
    list-style-type: none;
    color: #ffffff;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

#header .container .navbar li {
    position: relative;
}

#header .container .navbar a {
    text-decoration: none;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    margin-right: 50px;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 1.2;
}

#header .container .navbar a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.redes-sociais {
    position: fixed;
    padding: 0;
    top: 350px;
    right: 0;
    margin-right: 4px;
}

.redes-sociais .redes {
    display: block;
}

.redes-sociais .redes .svg-style {
    background-color: rgba(255, 255, 255, 0.7);
    display: table;
    padding: 7px;
    border-radius: 100%;
    margin: 20px;
}

.redes-sociais .redes .redes-icones:hover {
    margin: 5px;
    transition: all .1s ease-in-out;
}

.redes-sociais .redes .svg-style .imagem-icone {
    width: 18px;
    height: 18px;
    display: table-cell;
    justify-self: center;
    margin: auto;
}

.redes-sociais .redes .redes-icones {
    margin: 10px;
}

 .modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: visible;

    top: 0;
    left: 0;
    z-index: 2900;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container .modal {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    width: 86vw;
    height: 100vh;
    min-width: 300px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 1em #121212;
    position: relative;
}

.modal-container.mostrar {
    display: flex;
}

.modal-container.mostrar .modal {
    animation: modal .3s;
}

.modal-container .modal .perfil {
    position: relative;
    height: 500px;
    width: 215px;
    margin-top: 50px;
}

.modal-container .modal .perfil .imagem-perfil {
    width: 215px;
    height: 430px;
    border-radius: 15px;
} 

.modal-container .modal .perfil .btn-resume {
    display: block;
    margin-top: 10px;
    width: 215px;
    height: 40px;
    padding: 0;
    border-radius: 89px;
    color: white;
    background-color: rgba(255, 255, 255, 0.384);
}

.modal-container .modal .perfil .btn-resume:hover {
    background-color: rgba(199, 199, 199, 0.6);
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.7);
}

.modal-container .modal .descricao {
    height: 200px;
    width: 80%;
    color: white;
    margin-top: 46px;
    margin-left: 30px;
}

.modal-container .modal .descricao p {
    margin-top: 40px;
}

.modal-container .modal .skills-container {
    width: 74%;
    height: 250px;
    position: absolute;
    left: 23%;
    top: 300px;
    display: inline-grid;
    color: white;
}

.modal-container .modal .skills-container thead {
    font-weight: bold;
}

.tbody, td, tfoot, th, thead, tr {
    border-color: transparent;
    border-style: none;
    border-width: 14px;
}