@media screen and (max-width: 475px) {
    #header .container {
        height: 280px;
    }
    #header .container h1 {
        font-size: 60px;
    }
    #header .container span {
        max-width: 300px;
    }
    #header .container .navbar .container-fluid .collapse.show {
        transform: translate(-345px, 0);
    }
    #header.header-top {
        height: 55px;
    }
    .about.show-modal {
        top: 55px;
    }
    .about.about.show-modal .container .modal {
        top: 6px;
        height: 90vh;
        padding: 15px;
    }
    .about.show-modal .container .modal .profile {
        width: 145px;
        height: 50%;
    }
    .about.show-modal .container .modal .profile .img-profile {
        width: 130px;
        height: 230px;
        margin-left: 2px;
    }
    .about.show-modal .container .modal .profile .btn-resume {
        width: 130px;
        margin-left: 2px;
    }
    .about.show-modal .container .modal .description {
        margin-left: 15px;
    }
    .about.show-modal .container .modal .description h1 {
        font-size: 20px;
    }
    .about.show-modal .container .modal .description p {
        margin-top: 20px;
        font-size: 16px;
    }
    .about.show-modal .container .modal .skills-container {
        left: 2px;
        top: 50%;
        width: 45vw;
    }
    .portfolio.show-modal {
        top: 55px;
    }
    .portfolio.show-modal .container .portfolio-title  {
        margin-top: 15px;
    }
    .portfolio.show-modal .container .portfolio-title h1 {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }
    .portfolio.show-modal .container .portfolio-item {
        padding: 0;
        left: 55px;
        position: relative;
    }
    .portfolio.show-modal .container .portfolio-item .portfolio-wrap {
        width: 70%;
        margin-top: 10px;
    }
    .portfolio.show-modal .container .portfolio-wrap .portfolio-info::before {
        width: 30px;
        height: 30px;
    }
    .portfolio.show-modal .container .portfolio-wrap .portfolio-info::after {
        width: 30px;
        height: 30px;
    }
    .portfolio.show-modal .container .portfolio-wrap .portfolio-info h4 {
        font-size: 20px;
    }
    
    .portfolio.show-modal .container .portfolio-wrap .portfolio-info p {
        font-size: 15px;
    }
    .portfolio.show-modal .container .portfolio-wrap .portfolio-links a {
        font-size: 25px;
    }
}